<% provide(:title, 'Dashboard') %>

<div class="dashboard-content px-3 pt-4">
    <h2 class="fs-5"> Dashboard</h2>
    <p>And you must think you're in a toy store, because you're here shopping for an infant named jeb. blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. do you see a little asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? do you see a slender plastic tag clipped to my shirt with my name printed on it? look, just because i don't be givin' no man a foot massage don't make it right for marsellus to throw antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. no? now we took an oath, that i'm breaking now. now, i don't know exactly when we turned on each other, but i know that seven of us survived the slide... some pilots get picked and become television programs. well, the way they make shows is, they make one show. you understand?</p>
</div>
