<%= turbo_frame_tag customer do %>
    <div class="customer d-flex justify-content-between bg-white mb-2 align-items-center px-2 py-1 rounded shadow-sm">
        <div>
            <%= link_to customer.name, business_customer_path(@business, customer), data: { turbo_frame: "_top" } %>
        </div>

        <div>
            <div class="d-flex gap-2">

                <%= link_to edit_business_customer_path(@business, customer), class: 'btn rounded-1', style: 'background: hsl(0, 6%, 93%)' do %>
                    <i class="bi bi-pencil-square fs-5 text-secondary"></i>
                <% end %>

                <%= link_to business_customer_path(@business, customer), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: 'btn rounded-1', style: 'background: hsl(0, 6%, 93%)' do %>
                    <i class="bi bi-trash fs-5 text-secondary"></i>
                <% end %>
            </div>
        </div>
    </div>
<% end %>