<% provide(:title, "Editing #{@customer.name} | #{@business.name}") %>

<div class="container mt-3 w-75 mx-auto">
    <%= link_to sanitize("&larr; Back to customers"), business_customers_path(@business) %>
    <div class="header my-4">
        <h1 class="h4">
            Edit Customer
        </h1>
    </div>

    <%= turbo_frame_tag @customer do %>
        <div class="wrapper pt-1 bg-white rounded shadow-sm">
            <%= render 'form', business: @business, customer: @customer %>
        </div>
    <% end %>
</div>
