<div class="sidebar d-flex flex-column px-3" id="side_nav">
    <!-- Header starts -->
    <div class="header-box pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4">
            <span class="bg-white text-dark rounded shadow px-2 me-2">S</span><span class="text-white">AAS</span>
        </h1>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-list"></i></button>
    </div>
    <!-- Header ends -->

    <!-- Business accordion start -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <div class="accordion-header">
                <button class="accordion-button collapsed py-2 px-2" style="background: #09311e; box-shadow: none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="d-block fw-medium">
                        <div class="m-0 text-white"><small>Arikeade Trendings</small></div>
                        <div class="m-0" style="color: #91af9c"><small>1440630</small></div>
                    </div>
                </button>
            </div>
            
            <div id="flush-collapseOne" class="accordion-collapse collapse" style="background: #09311e" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body p-0" style="background: #09311e">
                    <h6 class=" text-success py-2 px-2" style="font-size: 11px;">OTHER BUSINESSES - 4</h6>

                    <div class="input-group input-group-sm px-2">
                        <span class="input-group-text border-0" style="background: #041c11e3;" id="basic-addon1">
                            <i class="bi bi-search text-secondary"></i>
                        </span>
                        <input type="text" class="form-control border-0 text-white" style="background: #041c11e3; box-shadow: none;" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                    </div>

                    <ul class="list-unstyled px-2">
                        <li class="">
                            <a href="#" class="text-decoration-none border-bottom border-secondary pt-2 pb-3 d-block" style="color: #91af9c">
                                Tolase Adegbite
                            </a>
                        </li>

                        <li class="">
                            <a href="#" class="text-decoration-none border-bottom border-secondary  pt-2 pb-3 d-block" style="color: #91af9c">
                                Add Business
                            </a>
                        </li>

                        <li class="">
                            <a href="#" class="text-decoration-none pt-2 pb-3 d-block" style="color: #91af9c">
                                Sign Out
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Business accordion ends -->

    <!-- Sidebae navigartion starts -->
    <ul class="list-unstyled mt-3">
        <li class="active">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-house-door me-1"></i>
                Dashboard
            </a>
        </li>

        <li class="">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-shop me-1"></i>
                Stores
            </a>
        </li>

        <li class="">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-cart4 me-1"></i>
                Products
            </a>
        </li>

        <li class="">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-people me-1"></i>
                Customers
            </a>
        </li>
        
    </ul>

    <!--
    <hr class="h-color mx-2">
    -->

    <ul class="list-unstyled mt-auto border-top border-secondary pt-3">
        <li class="">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-graph-up-arrow me-1"></i>
                Analytics
            </a>
        </li>

        <li class="">
            <a href="#" class="text-decoration-none  py-2 d-block">
                <i class="bi bi-gear me-1"></i>
                Settings
            </a>
        </li>

    </ul>
    <!-- Sidebar navigation ends -->

</div>
